<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="slid.css">
    <title>Slider</title>
</head>
<body>

        <section class="carousel">
          <ol class="carousel__viewport">
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/peakpx.jpg')"
              ></div>
            </li>
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/peakpx\ \(2\).jpg')"
              ></div>
            </li>
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/peakpx\ \(3\).jpg')"
              ></div>
            </li>
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/\/peakpx\ \(4\).jpg')"
              ></div>
            </li>
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/peakpx\ \(6\).jpg')"
              ></div>
            </li>
            <li class="carousel__slide">
              <div
                class="carousel__snapper"
                style="background-image: url('../ds/peakpx\ \(7\).jpg')"
              ></div>
            </li>
          </ol>
        </section>

</body>
</html>